<body>
    <div class="cuerpo">
    <form action="funciones.php" method="post"> 
        <p >Ingresa 5 números</p>
        <p>*Llenar todos los campos antes de seleccionar un botón</p>
        <ul>
            <li><label>Numero 1</label><input class="browser-default" type="number" name="num1"/><br><br></li> 
            <li><label>Numero 2</label><input class="browser-default" type="number" name="num2"/><br><br></li>
            <li><label>Numero 3</label><input class="browser-default" type="number" name="num3"/><br><br></li>
            <li><label>Numero 4</label><input class="browser-default" type="number" name="num4"/><br><br></li>
            <li><label>Numero 5</label><input class="browser-default" type="number" name="num5"/><br><br></li>
        </ul>
    
    <br>
    <input type="submit" name="promedio" class="btn green" value="promedio" />
    <input type="submit" name="mediana" class="btn green" value="mediana" /> 
    <input type="submit" name="lista" class="btn green" value="Lista" /> 
    </form>
    <br>

    <form action="funciones.php" method="POST">
        <p>Ingresa un número</p>
        <p>*Llenar el campo antes de presionar el botón</p>
        <label>Numero </label><input type="number" class="browser-default" name="num"/>
        <input type="submit" name="tabla" class="btn green" value="tabla" /> 
    </form>
    <br>
</div>


</body>