<footer class="page-footer grey">
    <body>
        <div class="container">
        <div class="row">
        
    <h4>Preguntas</h3>
        <br>

    <div class="col s4">
    <strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong>
    <blockquote>Permite la reutilizacion de codigo y separaramos nuestro codigo por componentes para una mejor organizacion</blockquote>

    </div>

    <div class="col s4">
    <strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?
    </strong>
    <blockquote>
        <ul>
            <li>
                $_SESSION: Continee variables de la sesion actual. 
            </li>
            <li>
                $_FILES: Contiene un arreglo de objetos publicados con $_POST.
            </li>
            <li>
                $_SERVER: Contiene informacion como direcciones de scripts, y headers.
            </li>
        </ul>
    </blockquote>

    </div>

    <div class="col s4">
        <strong>¿Qué es XSS y cómo se puede prevenir?
        </strong>
        <blockquote>
            Es un ataque de inyección de código malicioso para su posterior ejecución que puede realizarse a sitios web, aplicaciones locales e incluso al propio navegador.
           En PHP disponemos de algunas funciones para realizar la prevención de este tipo de ataques XSS: htmlspecialchars(), htmlentities() y strip_tags()</blockquote>
        </div>

    </div>
</div>

    </body>
</footer>