<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <div class="col s6">
            <p class="preguntas">¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</p>
            <p class="respuestas">Por que destruye toda la información guardada y libera todas las variables de la sesión</p>
    
        </div>
        <div class="col s6">
            <p class="preguntas">¿Cuál es la diferencia entre una variable de sesión y una cookie?
            </p>
            <p class="respuestas">Los datos de la sesion se almacenan en el servidor. En cambio,
                 los datos de una cookie se almacena en el navegador del cliente o usuario. 
                 Las sesiones utilizan cookies,
                 pero estas se almacenan en el registro del usuario en el servidor.</p>
        
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?
            </p>
            <p class="respuestas">Utilizan técnicas similares al manejo de colisiones de las tablas de dispersión 
                (puede ser ir agregando números en el nombre o
                algúna técnica similar).</p>
        
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué es CSRF y cómo puede prevenirse?
            </p>
            <p class="respuestas">Es un tipo de ataque en el que el atacante utiliza la sesión de otro ordenador/usuario para hacer peticiones http, 
                sin que la victima se entere.<br><br>
                Esto se puede evitar desactivando el recordar usuarios y contraseñas, cerrar la sesión de los sitios a los que accedamos y utilizar
                diferentes navegadores.</p>
        
        </div>
      </div>
      <h5>Carlos Ayala Medina A01703682</h5>
      <br> <br> 
    </div>
  </footer>
      
</body>
</html>