<div class="container">
    <h3>Inicio de sesión</h3>
    <br>
        <form method="POST" action="controladorLogin.php">
            <div class="row">
                
                <div class="input-field col s6">
                    <label for="text">Usuario</label><br>
                    <input placeholder="juan24" id="user" name="user" type="text" required>
                    
                </div>
               
                <div class="input-field col s6 ">
                    <label for="password">Contraseña</label><br>
                    <input placeholder="1234" id="pass" name="pass" type="password" required>   
                </div>
                
                <div class="input-field col 8">
                        <button class="btn  light-green darken-3" type="submit" name="action">Ingresar</button>
                </div>  
            </div>
        </form>
</div>
  