<div class="container">
    <h3>Fotos</h3>
    <p class="flow-text" id="user">
        <h5>Bienvenido: <?php echo $_SESSION["user"]?></h5>
    </p>
    <label>Selecciona para subir una nueva foto</label>
        <form method="POST" action="upload.php" enctype="multipart/form-data">
              <input  type="file" name="fileToUpload" id="fileToUpload">
              <br><br>
              <input class="btn green" type="submit" value="Subir" name="submit">
        </form>

        <br> <br>
        <a href="verFotos.php" class="btn green darken-3">Ver Fotos</a>
        <br> <br>
</div>
  