</div>
</div>
        </div>
    </main>

    <footer class="grey page-footer">
        <div class="footer-copyright">
            <div class="container">
                Carlos Ayala Medina A01703682
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="ajax.js"></script>
</body>

</html>