<br>
<div class="row">
    <div class="col s12 align-center">
      <form action="controladorNuevoIncidente.php" method="POST">
          <div class="file-field input-field">
            <?= select2(); ?> 
            <?= select1(); ?>  
         
            <div class="carousel-fixed-item center">
              <input class="btn" type="submit" value="Registrar" name="Registrar">
              
              <br><br><br><br><br><br><br><br><br>
            </div>
      </form>
      </div>
    </div>
    
