<a href="nuevoIncidente.php" class="right btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>

<button class="btn  teal darken-1" onclick="consulta('1')" id="reciente">MAS RECIENTES</button>
   
    <div class="file-field input-field">
        <div class="input-field">
          <input placeholder="Laboratorio" onkeyup="nombreLugar(this.value)"type="text" class="validate" id="dx">
          <label for="rol"><strong>Buscar por nombre de Lugar</strong></label>  
    <div id="tabla">