<div class="row">
    <div class="col 6">
    <form  action="index.php" method="POST">
        <div class="input-field">
            <select name="opcion" class="browser-default">
              <option value="" disabled selected>Selecciona la fruta</option>
              <option value="manzana" >Manzana</option>
              <option value="mango" >Mango</option>
              <option value="pera" >Pera</option>
            </select>
        </div>
        <input class="btn" type="submit" value="Consultar">
    </form>
    </div>
</div>