<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <div class="col s6">
            <p class="preguntas">¿Qué es ODBC y para qué es útil?</p>
            <p class="respuestas">Conectividad de base de datos abierta (Open Database Connectivity, ODBC)
               es una interfaz de programación de aplicaciones (API) de estándar abierto para acceder a 
               una base de datos. Mediante el uso de sentencias de ODBC en un programa, usted puede acceder a 
               los archivos de diferentes bases de datos, incluyendo Access, dBase, DB2, Excel y Text.
                Además del software de ODBC, 
              se necesita un módulo o controlador independiente para acceder a cada base de datos.</p>
    
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué es SQL Injection?</p>
            <p class="respuestas">Es una vulnerabilidad que permite al atacante enviar o “inyectar” instrucciones SQL de forma maliciosa y 
              malintencionada dentro del código SQL programado para la manipulación de bases de datos, 
              de esta forma todos los datos almacenados estarían en peligro</p>
        
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection? </p>
            <p class="respuestas">Parametrizar las consultas SQL y verificar los datos que introduce el usuario.</p>
        
        </div>
      </div>
      <br> <br> 
    </div>
  </footer>
      
</body>
</html>