<div class="row">
    <H3>Registrar Cargamentos de Fruta</H3>
    
    <div class="col 6">
    <form  action="controladorAgregar.php" method="POST">
        <div class="input-field">
            <select name="nombre" class="browser-default" required>
              <option value="" disabled selected>Selecciona la fruta</option>
              <option value="manzana" >Manzana</option>
              <option value="mango" >Mango</option>
              <option value="pera" >Pera</option>
              <option value="platano" >Platano</option>
            </select>
        </div>
            <label>Unidades</label>
            <input class="browser-default" type="number" name="unidades" value="unidades" required/>
            <label>Cantidad</label>
            <input class="browser-default" type="number" name="cantidad" value="cantidad" required/>
            <label>Precio</label>
            <input class="browser-default" type="number" name="precio" value="precio" required/>

        <div class="input-field">
            <select name="opcion2" class="browser-default" required>
                <option value="" disabled selected>Selecciona el país</option>
                <option value="Mexico" >Mexico</option>
                <option value="China" >China</option>
                <option value="Brazil" >Brazil</option>
                <option value="Canada" >Canada</option>
                <option value="India" >India</option>
              </select>
        </div>
        <input class="btn" type="submit" value="Registrar" name="Registrar">
    </form>
    </div>
</div>