<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <div class="col s6">
            <p class="preguntas">¿Por qué es una buena práctica separar el modelo del controlador?
            </p>
            <p class="respuestas">Es más facil identificar y corregir los errores que tengamos, 
              también es util para agregar nuevas funciones sin necesidad de editar codigo que no este relacionado</p>
    
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué es SQL injection y cómo se puede prevenir?            </p>
            <p class="respuestas">Es una vulnerabilidad que permite al atacante enviar o “inyectar” instrucciones SQL de forma maliciosa y 
              malintencionada dentro del código SQL programado para la manipulación de bases de datos, 
              de esta forma todos los datos almacenados estarían en peligro
              <br>Se puede prevenir escapando los caracteres especiales utilizados en las consultas SQL
              y delimitando los valores de las consultas.
              </p>  
        </div>
      </div>
      <br> <br> 
    </div>
  </footer>
      
</body>
</html>