<footer class="page-footer grey">
    <body>
        <div class="container">
        <div class="row">
        
    <h4>Preguntas</h3>
        <br>

    <div class="col s4">
    <strong>¿Qué hace la función phpinfo()?</strong>
    <blockquote>Muestra gran cantidad de información sobre el estado actual de PHP.
         Incluye información sobre las opciones de compilación y 
        extensiones de PHP, versión de PHP, información del servidor y entorno (si se compiló como módulo), entorno PHP,
         versión del OS, 
        rutas, valor de las opciones de configuración locales y generales, cabeceras HTTP y licencia de PHP.</blockquote>

    </div>

    <div class="col s4">
    <strong>¿Qué cambios tendrías que hacer en la configuración del servidor 
        para que pudiera ser apto en un ambiente de producción?
    </strong>
    <blockquote>Instalar una aplicación de entorno de servidor como XAMPP, la cual 
        incluye Apache, MySQL y PHP para poder usar y manejar el servidor.</blockquote>

    </div>


    <div class="col s4">
    <strong>¿Cómo es que si el código está en un archivo con código html 
        que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.
    </strong>
    <blockquote>Los archivos HTML y PHP se ejecutan desde el servidor, una vez ejecutados 
        y procesados adecuadamente 
        se le envia una respuesta al cliente con el HTML que se despliega en su pantalla.</blockquote>
    </div>
    </div>
</div>

    </body>
</footer>