nav{
    padding-left: 0px;
}
.cuerpo{
    padding-left: 50px;
    font-weight: bold;
}
footer{
    text-align: justify;
}

ul{
    font-size: small;
    font-weight: bold;
}

li{
    font-size: small;
    font-weight: bold;
}

h1{
    font-weight: bold;
    text-align: left;
}

h2{
    text-align: left;
    font-weight: lighter;
}

label{
    font-size: small;
    font-weight: bold;
}