<div class="row">
    <div class="col 6">
      <h3>Eliminar registros de cargamentos de frutas</h3>
    <form  action="controladorEliminar.php" method="POST">
      <label>Selecciona el Id del registro que quieres eliminar</label>
      <input class="browser-default" type="number" name="id" value="id" required/>
        <input class="btn" type="submit" value="Eliminar" name="Eliminar">
    </form>
    </div>
</div>