<br>
<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <div class="col s6">
            <p class="preguntas">¿Qué alternativas a jQuery existen?
            </p>
            <p class="respuestas">
              Javascript, UmbrellaJS, Cash, entre otras.
            </p>
    
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué es una promesa en js?
            </p>
            <p class="respuestas">
              Es un objeto que representa la terminación o el fracaso de una operación asíncrona. 
            </p>  
        </div>
        <div class="col s6">
          <p class="preguntas">¿Cómo funcionan async y await?
          </p>
          <p class="respuestas">
            Async define una función asíncrona, la cual devuelve un objeto AsyncFunction.
            Await es usada para esperar por una promesa.
          </p>  
      </div>
      </div>
      <br> <br> 
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</body>
</html>