#validador{
    background-color: lightseagreen;
}

#validador h2{
    text-align: center;
}



#calculadora{
    background-color: lightblue;

}
#calculadora h2{
    text-align: center;
}

#productos{
    background-color: lightgreen;
}
#productos h2{
    text-align: center;
}

#preguntas{
    background-color: lightcoral;
}
#preguntas h2{
    text-align: center;
}
