<br>
<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <p>En el reporte</p>
      </div>
      </div>
      <br> <br> 
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</body>
</html>