<div class="row">
    <div class="col s6">
        <h5>Consulta por tipo de fruta con AJAX</h5>
        <div class="input-field">
            <select name="opcion" class="browser-default" onchange="consulta(this.value)">
              <option value="" disabled selected>Selecciona la fruta</option>
              <option value="manzana" >Manzana</option>
              <option value="mango" >Mango</option>
              <option value="pera" >Pera</option>
              <option value="platano" >Platano</option>
            </select>
        </div>
    </div>

    <div class="col s6">
        <h5>Visualizar Diagrama AJAX</h5>
        <button class="btn brown">Ver</button>
    </div>
</div>