<br>
<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <div class="col s12">
            <p class="preguntas">¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?
            </p>
            <p class="respuestas">
              Las ventajas que tiene es que te ahorras tiempo en implementar varias funciones a tu aplicación y no tienes problemas de compatibilidad.
               Algunas desventajas sería la dependencia que tiene tu aplicación con estos servicios y las restricciones que puedas tener al hacer uso de un API
            </p>
    
        </div>
      
      </div>
      <br> <br> 
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</body>
</html>