<h5>API CAPTCHA de Google</h5>
<h6>El botón Entrar se habilita cuando confirmas en el captcha que no eres un robot</h6>
<form action="controladorInicio.php" method="post">
    <div class="row">
        <div class="input-field col s8 offset-s3">
            <div class="g-recaptcha" data-sitekey="6Le93vYUAAAAACU43dFy56P_L5C-Q5mJGcYIc8Cw" data-callback="recaptcha_callback"></div>
            <br/>                 
        </div>
    </div>   
    <div class="boton">
        <input id="iniciosesion" type="submit" value="Entrar"  class="waves-effect waves-light btn" disabled>
    </div>
</form>