body {
    font-size: 16px;
  }
  body:after {
    content: "Watermark"; 
    font-size: 15em;  
    color: rgba(52, 100, 214, 0.4);
    z-index: 9999;
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  

#title{
    font-size: 2cm;
}

#name{
    font-size: 1cm;
}

#ayuda{
    font-size: larger;
}
#div1 {
    width: 300px;
    height: 103px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }

#validador{
    background-color: lightseagreen;
}

#validador h2{
    text-align: center;
}



#calculadora{
    background-color: lightblue;

}
#calculadora h2{
    text-align: center;
}

#productos{
    background-color: lightgreen;
}
#productos h2{
    text-align: center;
}

#preguntas{
    background-color: lightcoral;
}
#preguntas h2{
    text-align: center;
}
