<div class="row">
    <div class="col 6">
        <h3>Consulta por tipo de fruta con AJAX</h3>
        <div class="input-field">
            <select name="opcion" class="browser-default" onchange="consulta(this.value)">
              <option value="" disabled selected>Selecciona la fruta</option>
              <option value="manzana" >Manzana</option>
              <option value="mango" >Mango</option>
              <option value="pera" >Pera</option>
              <option value="platano" >Platano</option>
            </select>
        </div>
    </div>
</div>