
<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <h3>Preguntas</h3>
        <div class="col s6">
            <p class="preguntas">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?
            </p>
            <p class="respuestas">Mejora la experiencia al usar aplicaciones web que implementen AJAX, debido a que se reduce el tiempo de respuesta y se maneja de forma más intuitiva
            </p>
    
        </div>
        <div class="col s6">
            <p class="preguntas">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
            </p>
            <p class="respuestas">Es posible que valores importantes como IDs de Usuarios que se utilizan 
              en AJAX puedan ser accesibles por otros. Para evitar esto, es importante encriptar y 
              desencriptar los datos del lado del cliente y del servidor respectivamente.
              </p>  
        </div>
        <div class="col s6">
          <p class="preguntas">¿Qué es JSON?
          </p>
          <p class="respuestas">Javascript Object Notation es un formato de texto sencillo y 
            legible tanto para el humano como para computadoras. Se utiliza en la modernidad para recibir y
             enviar datos en la web ya que es mas facil obtener sus atributos que otros formatos como XML.
            </p>  
      </div>
      </div>
      <br> <br> 
    </div>
  </footer>
  <script src="ajax.js"></script>
</body>
</html>